/*body{
    background: url('s.jpeg')no-repeat;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
 background-size: cover;
 background-color:black;
}*/

.wrapper {
    max-width: 300px;
    margin: auto;
    margin-top: 80px;
 }
.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    text-align:center;
    color: white;
}

.wrapper .form-field input {
    margin-top:15px;
    margin-left:30px;
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: white;
    padding: 1px 1px 10px 10px
}

.wrapper .form-field {
    padding-left: 0px;
    margin-bottom: 20px;
    border-radius: 20px ;
    box-shadow: inset 2px 2px 2px white, inset -3px -3px 3px cyan;
}

.wrapper .form-field .fas {
    color: #555
}

.wrapper .btn {
    box-shadow: none;
    width: 35%;
    height: 30px;
    margin-left: 100px;
    background-color: black;
    color: #fff;
    border-radius: 0px;
    box-shadow: 3px 3px 3px orange, -3px -3px 3px orange;
    letter-spacing: 1.3px;
}

.container {
  padding: 16px;
  margin-left:3%;
  margin-top:6%;
  height:280px;
  width:95%;
  border-color: pink;
  border-style:solid;
}