{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

<h1 style="color:cyan; margin-left:42%;">ABOUT US</h1>
<pre>
    <h2>
        This WebSite show the Cattle and Buffalo milk information.
        for example:-
                    1)Fat
                    2)Vitamin A
                    3)Vitamin D
                    4)Protein
                    5)Potassium
                    6)Calcium

        Stay connected with us:

        GitHub: <a href="https://github.com/Akashsshinde07">https://github.com/Akashsshinde07</a>
        LinkedIn: <a href="https://www.linkedin.com/in/akash-shinde-097a22216">https://www.linkedin.com/in/akash-shinde-097a22216</a>

If you have any queries please do not hesitate to contact us :

        Gmail: akashsshinde0707@gmail.com
    </h2></pre>
{% endblock body %}