{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search For Buffalo Names.." title="Type in a name">

<table id="myTable">
  <tr>
      <td><a href="\base">Murrah Buffalo</a></td>
  </tr>
  <tr>
    <td>Bhadawari Cattle</td>
  </tr>
  <tr>
    <td>Jaffarabadi Cattle</td>
  </tr>
  <tr>
    <td>Surti Cattle</td>
  </tr>
  <tr>
    <td>Mehsana Cattle</td>
  </tr>
  <tr>
    <td>Nagpuri Cattle</td>
  </tr>
  <tr>
    <td>Nili-Ravi Cattle</td>
  </tr>

</table>

{% endblock body %}

