{% extends 'base.html' %}


{% block title %}Home{% endblock title %}

{% block body %}
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search For Cattle and buffalo Names.." title="Type in a name">

<table id="myTable">
  <tr>
      <td><a href="\gir cattle2">Gir Cattle</a></td>
  </tr>
  <tr>
      <td><a href="\deoni">Deoni Cattle</a></td>
  </tr>
   <tr>
     <td><a href="\hariana cattle">Hariana Cattle</a></td>
  </tr>
  <tr>
    <td><a href="\krishna valley cattle">Krishna Valley Cattle</a></td>
  </tr>
    <tr>
      <td><a href="\murrah buffalo">Murrah Buffalo</a></td>
  </tr>
  <tr>
    <td><a href="\bhadawari buffalo">Bhadawari Buffalo</a></td>
  </tr>
  <tr>
    <td><a href="\pandharpuri buffalo">Pandharpuri Buffalo</a></td>
  </tr>
  <tr>
    <td><a href="\nagpuri buffalo">Nagpuri Buffalo</a></td>
  </tr>

</table>

{% endblock body %}

