{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
{% block content %}
{% load static %}
     <link rel="stylesheet" href="{% static 'contact1.css'%}">

<pre>

<h1 style="color:cyan; margin-left:40%; font-family:Times New Roman, Times, serif;">CONTACT   ME</h1>
<h2>If you have any queries, please do not hesitate to contact me.</h2><h2>Gmail: akashsshinde0707@gmail.com</h2>
</pre>
<div class="container">
  <form action="/action_page.php">
    <label for="fname">Name (optional)</label>
    <input type="text" id="fname" name="name" placeholder="Enter your full name.." autocomplete="off"><br>

    <label for="lname">Gmail (required)</label>
    <input type="text" id="lname" name="Gmail" placeholder="Enter your gmail address.." autocomplete="off" required><br>

    <label for="lname">Subject (required)</label>
    <input type="text" id="name" name="Subject" placeholder="Enter your subject.." autocomplete="off" required><br>

    <!--label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select-->

    <label for="subject">Message (required)</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px" autocomplete="off" required></textarea>

    <button class="btn" type="submit">submit</button>
  </form>
</div>

{% endblock %}
{% endblock body %}