{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
{% block content %}
{% load static %}
     <link rel="stylesheet" href="{% static 'gir cattles1.css'%}">
    <div class="wrapper" >
        <div class="name"><i>Quantity of Milk...</i></div>
                 <form class="p-3 mt-3" action='add1'>
                       <div class="form-field">
                            <input type="text" name="num1" id="userName" placeholder="Enter Milk In MiliLiter" autocomplete="off" required>
                       </div>
                     <button class="btn">result</button>
                 </form>
    </div>
<!--img src="{% static 'deoni cattle.jpg' %}" width="15%" height="150px"-->
<div class="container">
<h1 style="color:khaki;">Deoni Cattle</h1>
<p><h2>           The Deoni is an Indian breed of draught cattle. It is named after the taluk of Deoni in the Latur district
    of Maharashtra state, and is distributed mainly in the Latur, Nanded, Osmanabad and Parbhani districts of the
    Marathwada region of Maharashtra, as well as the Bidar district of Karnataka.</h2></p>
</div>
{% endblock %}
{% endblock body %}