{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search For Dog Names.." title="Type in a name">

<table id="myTable">
  <tr>
      <td><a href="\base">Gir Cattle</a></td>
  </tr>
  <tr>
    <td>Sahiwal Cattle</td>
  </tr>
  <tr>
    <td>Red Sindhi Cattle</td>
  </tr>
  <tr>
    <td>Rathi Cattle</td>
  </tr>
  <tr>
    <td>Ongole Cattle</td>
  </tr>
  <tr>
    <td>Deoni Cattle</td>
  </tr>
  <tr>
    <td>Kankrej Cattle</td>
  </tr>
  <tr>
    <td>Tharparkar Cattle</td>
  </tr>
   <tr>
    <td>Hariana Cattle</td>
  </tr>
  <tr>
    <td>Krishna Valley Cattle</td>
  </tr>
</table>

{% endblock body %}

