{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
{% block content %}
{% load static %}
     <link rel="stylesheet" href="{% static 'gir cattles1.css'%}">
    <div class="wrapper" >
        <div class="name"><i>Quantity of Milk...</i></div>
                 <form class="p-3 mt-3" action='add6'>
                       <div class="form-field">
                            <input type="text" name="num1" id="userName" placeholder="Enter Milk In MiliLiter" autocomplete="off" required>
                       </div>
                     <button class="btn">result</button>
                 </form>
    </div>
<!--img src="{% static 'deoni cattle.jpg' %}" width="15%" height="150px"-->
<div class="container">
<h1 style="color:khaki;">Pandharpuri Buffalo</h1>
<p><h2>            The Pandharpuri is a breed of water buffalo native to the dry regions of Solapur, Kolhapur, Satara and
    Sangli in India.
    The name is derived from the town Pandharpur in Solapur.
    The Pandharpuri buffalo has 45-50 centimetre-long horns which are sometimes twisted.
    Lactation length is 350 days, calving interval is 465 days. Milk yield is 1400 kg/305 days.</h2></p>
</div>
{% endblock %}
{% endblock body %}